:root {
    font-family: "Open Sans", sans-serif;
}

body {
    padding: 80px;
    box-sizing: border-box;
}

.destaque {
    color: #E1624F;
    text-transform: uppercase;
    font-weight: bold;
}

img {
    border-radius: 28px;
}

header img {
    width: 100%;
}

h1 {
    margin: 8px auto 40px;
    font-size: 36px;
}

h2 {
    font-size: 32px;
    margin: 2px auto 8px;
}

h3 {
    font-size: 28px;
}

.texto-secundario {
    color: #333333;
    font-style: italic;
    text-align: center;
    margin: 24px auto 40px;

}

main .destaque {
    margin: 64px auto 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

main img {
    width: 100%;
    object-fit: cover;
    height: 375px;
}